JSON_FOLDER_JV=/var/lib/productbaseapi/data/JV/JV_LISTER/JV_NEW/JSON
HTML_DESCRIPTIONS_FOLDER_JV=/var/lib/productbaseapi/data/JV/JV_PRODUCT/JV_NEW/HTML
JSON_FOLDER_XL=/var/lib/productbaseapi/data/XL/XL_LISTER/XL_NEW/JSON
HTML_DESCRIPTIONS_FOLDER_XL=/var/lib/productbaseapi/data/XL/XL_PRODUCT/XL_NEW/HTML
PRICE_SHEET_PATH_JV=
PRICE_SHEET_PATH_XL=
LOG_FOLDER=./backend/logs
DEBUG=0
MAX_PARALLEL_UPLOADS=5
HOOD_API_URL=https://www.hood.de/api.htm
HOOD_API_JVUSER=
HOOD_API_JSPASSWORD=
HOOD_API_XLUSER=
HOOD_API_XLPASSWORD=
